<!DOCTYPE html>
<html lang="en-us">
    <head>
        <script>
            Calendly.initInlineWidget({
                url: 'https://calendly.com/YOURLINK',
                parentElement: document.getElementById('SAMPLEdivID'),
                prefill: {},
                utm: {}
            });
        </script>
    </head>
    <body>
      <!-- <main class="justify-content-center"> -->

      <div class="contact-form shadow p-3 mb-5 bg-white rounded">
        <h2>Contact Me</h2>
        <br>
        <form
          action="mailto:katymontross1@gmail.com"
          method=”POST”
          enctype=”multipart/form-data”
          class="">
          <div class="form-group">
            <label for="email">Email address:</label>
              <input type="email" class="form-control contact-input" id="email">
          </div>
          <div class="form-group">
            <label for="txt">Message:</label>
              <input type="text" class="form-control contact-message" id="message-text">
          </div>
          <br>
            <button type="submit" class="btn btn-colorized">Submit</button>
        </form>
      </div>

    <!-- </main> -->

    <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/katymontrossphoto" style="min-width:320px;height:630px;"></div>
      
    <!-- Calendly inline widget end -->
    </body>
</html>