<!DOCTYPE html>
<html lang="en-us">
    <head></head>
    <body>
        <h1>Investment</h1>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Couples</h3>
                    <h4>$325</h4>
                    <img src="https://katymontrossphotocom.files.wordpress.com/2020/11/couple2.jpg?w=1024" class="img-table-img">
                </div>
                <div class="col-sm">
                    <h3>Newborn</h3>
                    <h4>$425</h4>
                    <img src="https://katymontrossphotocom.files.wordpress.com/2020/11/newborn1.jpg?w=1024" class="img-table-img">
                </div>
                <div class="col-sm">
                    <h3>Maternity</h3>
                    <h4>$250</h4>
                    <img src="https://katymontrossphotocom.files.wordpress.com/2020/11/maternity1.jpg?w=768" class="img-table-img">
                </div>
            </div>
        </div>

    </body>
</html>